@import "nullstyle.scss";
@import "header.scss";
@import "swiper.scss";

@mixin displayF {
    display: flex;
    justify-content: center;
}

body{
    max-height: 100%;
}


*{
    margin: 0;
    padding: 0;
}

.offers_and_categories{
    text-align: center;
    @include font_Readex_Pro;

    margin-top: 75px; 

    .heading{
        font-size: 42px;
    }

    .text{
        font-size: 14px;
        max-width: 628px;
        display: flex;
        margin: 9px auto 55px auto;
    }
}

.test{
    @include displayF;
    width: 89.8%;
    margin: 0 auto;
}
.offer_items_container{
    width: 100%;
    
}

.offer_items_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 312px);
    grid-gap: 16px;
    grid-auto-rows: minmax(270px, auto);
}

.grid_item{
    background-color: #fff;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}

.one{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 472px;

    img{
        margin-left: 42px;
    }
}

.two{
    grid-row: 1/4;
    height: 792px;

    img{
        margin:144px 0 0 16px;
    }

    justify-content: center;
    
}

.three{
    grid-row: 1/4;   
    height: 792px;

    img{
        margin-top: 42px;
    }
}

.four{
    grid-column: 1/3;
    position: relative;
    top: -33px;
    padding: 0;
    height: 270px;
    display: flex;
    img{
        margin-left: 42px;
    }
}

.text1{
    @include font_Inter;
    font-size: 15px;
    margin: -5px 42px 0 405px;
    line-height: 19px;
    display: flex;
    justify-content: flex-end;
    
}

.text2{
    display: flex;
    @include font_Readex_Pro;
    justify-content: flex-end;
    font-size: 32px;
    margin: 0 42px 0 413px;
    line-height: 38px;
    text-align: right;
}

.text1-1{
    margin: 87px 42px 0 46px;

}

.text2-1{
    margin: 0 42px 0 46px;
}

.text3{
    @include font_Inter;
    font-size: 15px;
    line-height: 19px;
    margin-top: 41px;
    display: flex;
    justify-content: center;
}

.text4{
    display: flex;
    @include font_Readex_Pro;
    font-size: 32px;  
    line-height: 38px;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
}

.text3-1{
    margin-top: 114px;
}

.most_soled_items{
    
    @include font_Readex_Pro;

    margin-top: 78px; 

    .heading{
        font-size: 42px;
        text-align: center;
    }

    .text{
        font-size: 14px;
        margin: 9px auto 55px 31px;
        text-align: center;
    }   
}

.cards_container{
    width: 100%;
    display: flex;
}

.cards{
    display: flex;
    justify-content: center;
    width: 89.8%;
    margin: 0 auto;
    flex-wrap: wrap;
}

/*.card_container{
    
}*/



.card_wrapper{
    padding: 28px;
    transition: all 0.2s ease;
}
.card_wrapper:hover{
    transform: scale(0.9);
}

.card_text1{
    @include font_Readex_Pro;
    font-size: 22px;
    margin-bottom: 9px;
}

.card_text2{
    @include font_Inter;
    font-size: 14px;
    max-width: 261px;
    margin-bottom: 25px;
}

.bigger_text{
    margin-bottom: 8px;
}

.card_text3{
    @include font_Inter;
    font-size: 18px;
    margin-bottom: 27px;
}


.the_best{
    @include font_Readex_Pro;
    width: 100%;
    max-width: 1330px;
    margin: 47px auto 28px auto;
    .heading{
        font-size: 42px;
        text-align: center;
    }

    .text{
        font-size: 14px;
        margin: 9px auto 55px 31px;
        text-align: center;
    }   
}

.the_best_items_card_container{
    display: flex;
    width: 100%;
    
}

.the_best_items_container{
    display: flex;
    justify-content: center;
    width: 89.8%;
    
    

    .the_best_card_wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        background-color: #F8F9FA;
        border-radius: 16px;
        
        .text_best_1{
            @include font_Readex_Pro;
            font-size: 13px;
            margin-top: 41px;
        }
        
        .text_best_2{
            @include font_Readex_Pro;
            font-size: 28px;
            margin-bottom: 30px;
        }
    }

        button{
            width: 190px;
            margin: 0 auto;
            padding: 14px 63px;
            display: flex;
            justify-content: center;
            background-color: #00000000;
            border: 1px solid #000000;
            border-radius: 200px;
            @include font_Inter;
            font-size: 18px;
            transition: all 0.2s ease;
        }
        button:hover{
            background-color: #DCE5E2; 
            transform: scale(0.95);
        }

        img{
            margin-top: 30px;
        }
}

.frst_card{
    padding: 41px 77px 0 77px;
}

.scnd_card{
    padding: 41px 59px 0 60px;
}

.thrd_card{
    padding: 41px 29px 0 29px;
}


.ideas{
    @include font_Readex_Pro;
    margin: 47px auto 0 auto;
    width: 100%;
    max-width: 1330px;

    .heading{
        font-size: 42px;
        text-align: center;
    }

    .text{
        font-size: 14px;
        margin: 9px auto 55px 31px;
        text-align: center;
    }   

    .idea_img{
        border-radius: 16px;
    }

    .ideas_container{
        
    width: 100%;
    margin-bottom: 73px;
        .content{
            display: flex; 
        }
    }

}

.idea_txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 35px;
    font-size: 24px;
    .p1{
        margin-top:14px;
        margin-bottom: 28px;
    }
    .p2{
        margin-bottom: 28px;
    }

    .p3{
        margin-bottom: 28px;
    }
}

.see_all{
    @include font_Inter;
    font-size: 24px;
    text-align: center;
    
}

.s_a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 75px;
}


.looking_for{
    
    margin-top: 47px; 
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    
    .heading{
        font-size: 42px;
        text-align: center;
        @include font_Readex_Pro;
    }

    .text{
        font-size: 14px;
        margin: 9px auto 55px 31px;
        text-align: center;
        @include font_Inter; 
    }   

    input{
        
        padding-right:20.75px ;
        width: 650px;
        height: 50px;
        border: 1px solid #C5C5C5;
        border-radius: 100px;
        background-position: 20px;
        background-repeat: no-repeat;
        //background-image: url("/img/search2.svg");
        color: #000000;
        transition: 0.3s ease all;
        &::-webkit-input-placeholder{
            color: #000;
        }
        &:required{
            background-image: none;
            padding-left: 20.75px;
            text-align: left;
        }
        &:invalid{
            padding-left: 67px;
            text-align: left;
            background-image: url("/img/search2.svg");
        }
        &:focus{
            border: 1px solid black;
            
        }
        &.text{
            margin: 24px auto 18px auto;
        }
    }

    .choice_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 660px;
        max-height: 100%;
        padding: 0 52px 7px 52px;
        margin: 18px auto 61px auto;
        
        
        .choice{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: row;
            border: 1px solid #C5C5C5;
            border-radius: 200px;
            padding: 12px 22px 13px 22px;
            margin:0 7px 7px 0;
            transition: all 0.2s ease;
            cursor: pointer;
        }
        .choice:hover{
            background-color: #DCE5E2;
            transform: scale(0.95);
        }
    }
    
}

.never-miss__container{
    text-align: center;
    background: #DCE5E2;
    width: 935px;
    margin: 0 auto;
    padding: 0 0 43px 0;
    border-radius: 16px;
    .heading{
        padding-top: 47px;
        font-size: 42px;
        text-align: center;
    }
    
    .text{
        font-size: 14px;
        margin: 9px auto 55px 31px;
        text-align: center;
        @include font_Inter; 
    }   
    img{
        margin-bottom: 14px;
    }
    
    .email__form{
        display: flex;
        justify-content: center;
        border-radius: 100px 0 0 100px;
    }
    
    .email{
        margin: 0;
        padding-right:20.75px ;
        width: 285px;
        height: 50px;
        border: 1px solid #C5C5C5;
        border-radius: 100px 0 0 100px;
        
        background-position: 20px;
        background-repeat: no-repeat;
        color: #000000;
        transition: 0.3s ease all;
        &::-webkit-input-placeholder{
            color: #000;
        }
        &:required{
            padding-left: 20.75px;
            background-image: none;
        }
        &:invalid{
            padding-left: 32px;
            
        }
        &:focus{
            border: 1px solid black;
            
        }
    }
    
    #email{
        margin: 0;
        border-radius: 0 100px 100px 0;
        width: 115px;
        background-color: black;
        color: #FFF; 
        @include font_Inter;
        transition: all 0.2s ease; 
        border: 1px solid black;
    }
    #email:hover{
        background-color: #04C75B;
        
    }
    
}


#footer{
    max-height: 100%;
    width: 100%;
    background: #F8F9FA;
    margin-top: 19px;
    margin-bottom: 79px;
    .link_container{
        max-width: 1350px;
        padding-top: 44px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
    .links{
        width: 197px;
        margin-bottom: 19px;
        margin-right: 28px;
        a{
            text-decoration: none;
            color: #000;
        }
    }
    .links:first-child{
        width: 394px;
        p{
            margin-top: 18px;
            max-width: 304px;
        }
    }

    .all_prod_links{
        margin-top: 19px;
        .link{
            margin-top: 14px;
        }
        
    }

    .company_links{
        margin-top: 19px;
        .link{
            margin-top: 14px;
        }
    }

    .support_links{
        margin-top: 19px;
        .link{
            margin-top: 14px;
        }
    }

    .follow_us_links{
        margin-top: 19px;
        .link{
            margin-top: 14px;
        }
    }

    .heading{
        @include font_Readex_Pro;
        font-size: 22px;
    }
    .text{
        font-size: 16px;
        @include font_Inter;  
    }   
    .underlogo_text{
        line-height: 19px;
    }
    .text1{
        @include font_Inter;  
        font-size: 17px;
        margin: 0;
        padding: 0;
        justify-content: flex-start;
    }
    .creators{
        display: flex;
        justify-content: space-between;
        width: 1350px;
        margin: 0 auto;
        border: #DCE5E2 1px solid;
        border-bottom: none;
        border-right: none;
        border-left: none;
        padding-top: 56.38px;
        
        .created__by{
            margin: 0 0 4px 28px;
            span{
                @include font_Readex_Pro; 
                font-size: 18px;
            }
            p{
                @include font_Inter;
                font-size: 18px;
            }
        }
        .powered__by{
            margin: 0 28px 4px 0;
            span{
                @include font_Readex_Pro; 
                font-size: 18px;
            }
            p{
                @include font_Inter;
                font-size: 18px;
            }
        }
    }
}








