.slider__container{
    max-width: 1254px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.image-slider{
padding: 30px 0 70px 0;
border-radius: 32px;
}
.image-slider__wrapper{

}
.image-slider__slide{
    background: #DCE5E2;
    text-align: right;
    
    .swiper-slide__text{
        max-width: 565px;
        margin: 145px auto auto 56px;
        position: absolute;
        text-align: left;
    }
    .heading{
        font-size: 58px;
    }

    .text{
        font-size: 16px;
        max-width: 628px;
        display: flex;
        margin: 19px auto 30px auto;
    }
    button{
        width: 190px;
        padding: 14px 63px;
        background-color: #00000000;
        border: 1px solid #000000;
        border-radius: 200px;
        @include font_Inter;
        transition: all 0.2s ease;
        font-size: 18px;
    }    
    button:hover{
        background-color: white; 
        transform: scale(0.95);
    }
}
.swiper-slider__image{
    max-width: 100%;
}

.image-slider{
    .swiper-button-next::after,
    .swiper-button-prev::after{
        color: black;
        font-size: 24px;
    }
}

.image-slider{
    .swiper-pagination{
        margin-bottom: 34px;
    }
    .bulletActiveClass{
        background-color: white;
    }
    .swiper-pagination-bullet{
    
       width: 194px;
       height: 2px;
       bottom: 34px;
       background-color: #000000;
       border-radius: 0px;
       font-size: 14px;
       
    }
}

@media (max-width: 1190px){
    .image-slider{
        max-width: 1190px; 
        height: 450px; 
        img{
            width: 550px;
        }
        
        .swiper-pagination-bullet{
           width: 144px;
           font-size: 12px;
           height: 1.5px;

        }
    }
    .image-slider__slide{
        
        .swiper-slide__text{
            max-width: 550px;
            margin: 145px auto auto 56px;
            position: absolute;
            text-align: left;
        }
        .heading{
            font-size: 41px;
            max-width: 390px;
        }
    
        .text{
            font-size: 14px;
            max-width: 480px;
            display: flex;
            margin: 19px auto 30px auto;
        }
        button{
            width: 140px;
            padding: 12px 61px;
            display: flex;
            justify-content: center;
            font-size: 16px;
        }    
    }
}

@media (max-width: 992px){
    .image-slider{
        max-width: 992px; 
        height: 420px; 
        .swiper-pagination-bullet{
           width: 104px;
           font-size: 12px;
           height: 1px;

        }
        .swiper-pagination{
            margin-bottom: 26px;
        }
    }
    .image-slider__slide{
        img{
            width: 500px;
        }
        .swiper-pagination{
            margin-bottom: 18px;
        }
        
        .swiper-slide__text{
            max-width: 500px;
            margin: 145px auto auto 56px;
            position: absolute;
            text-align: left;
        }
        .heading{
            font-size: 35px;
            max-width: 340px;
        }
    
        .text{
            font-size: 11px;
            max-width: 270px;
            display: flex;
            margin: 19px 0 30px 0;
        }
        button{
            width: 120px;
            padding: 12px 61px;
            display: flex;
            justify-content: center;
            font-size: 14px;
        }    
    }

}

@media (max-width: 768px){
    .slider__container{
        padding: 0;
        .image-slider{
            border-radius: 0px;
            height: 300px;
            &__slide{
                img{
                    width: 400px;
                    position: relative;
                }
                .heading{
                    font-size: 30px;
                    max-width: 250px;
                }
            }
        }
    }
}
